.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-16);
}

.rowNarrow {
  grid-template-columns: 1fr 110px;
}
